{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Applicants{% endblock title %}</title>
</head>
<body>

    <table>
        <thead>
            <tr>
              <th><h3>Applicant</h3></th>
              <th><h3>On Date</h3></th>
              <th><h3>Resume</h3></th>
              <th><h3>Status</h3></th>
            </tr>
          </thead>
          <tbody>
            {% for applicant in applicants %}
              <tr>
                  <td>{{applicant.first_name}}({{applicant.email}})</td>
                  <td>{{applicant.on_date}}</td>
                  <td><a href="/resume/{{applicant.user.id}}">View</a></td>
                  <td class="quick-buttons"><a data-id={{applicant.id}} data-type="accept" class="btn btn-success" id="action-button">Accept</a>
                      <a data-id={{applicant.id}} data-type="reject" class="btn btn-error" id="action-button">Reject</a>
                  </td>
              </tr>
            {% endfor %}
          </tbody>
    </table>
    
</body>
{% block script %}
    <script>
        $("#action-button").on('click',function(e){
            if($(this).data('type') == "accept"){
                $.ajax({
                    url: '/job/accept/'+$(this).data('id'),
                    method: get,
                    success: function(data){
                        $('.quick-buttons').html('Accepted');
                    },
                    error: function(data){
                        alert('something went wrong');
                    },

                });
            }
            else{
                $.ajax({
                    url: '/job/reject/'+$(this).data('id'),
                    method: get,
                    success: function(data){
                        $('.quick-buttons').html('Rejected');
                    },
                    error: function(data){
                        alert(data);
                    },

                });

            }
        })
    </script>   
{% endblock script %}
</html>
