{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>

    <title> {% block title %}Home{% endblock title %}</title>
    {% block style %}
        <style>
            
        </style>
    {% endblock style %}
</head>

<body>

{% block content %}
    <main>
        <section>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="..." alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="..." alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="..." alt="Third slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </section>

        <section>
            <div class="quote"></div>
            <div class="news"></div>
        </section>
        <section class="newsletter">
            <input type="email" name="newsletter" id="">
            <button id="newsletter-submit">Subscribe</button>
        </section>
    </main>

{% endblock content %}
    
</body>
{% block script %}
    
{% endblock script %}
</html>
