{% extends 'base.html' %}

{% block title %}Profile{% endblock title %}
{% block css %}
<style>
  body{
    text-align:center;
  }
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding: 10px;
  }
  .profile-block{
    height: 85vh;
    overflow-y: scroll;
    width:fit-content;
    padding: 2em 5em;
    border: 5px solid rgb(82, 151, 255);
    margin: auto;
    border-radius: 0.5em;
  }
</style>
{% endblock css %}

{% block js %}

{% endblock js %}
{% block body %}

<form>
  <section class="profile-block">
    <div style="display: flex; flex-direction: row;justify-content:center;padding: 50px;">
      <img src="profile-photo.jpg" style="width: 200px; height: 200px; margin-right: 20px;">
      <div style="display: flex; flex-direction: column; justify-content: center;">
        <label for="name">Name:</label>
          <input type="text" id="name" name="name">
        <label for="mobile">Mobile Number:</label>
          <input type="text" id="mobile" name="mobile">
      </div>
    </div>
    <h3>Work Experience</h3>
<ul>
  <li>
    <label for="jobtitle">Job Title:</label>
    <input type="text" id="jobtitle" name="jobtitle">
  </li>
  <li>
    <label for="jobtitle">Job Title:</label>
    <input type="text" id="jobtitle" name="jobtitle">
  </li>
  <!-- Add more work experience as needed -->
</ul>

<h3 style=padding: 50px;>Education</h3>
<ul>
  <li>
    <label for="degreetitle">Degree Title:</label>
    <input type="text" id="degreetitle" name="degreetitle">
  </li>
  <li>
    <label for="degreetitle">Degree Title:</label>
    <input type="text" id="degreetitle" name="degreetitle">
  </li>
  <!-- Add more education as needed -->
</ul>
</section>
</form>
{% endblock body %}
