{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Registeration Form{% endblock title %}</title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/reg.css' %}">
    {% endblock css %}
    
</head>
<body>
    {% block body %}
        
    
    <form method="POST" class="registration-form">
        <center>
            <span class="heading" style="font-size: 1.5em;">Register</span>
        </center>
    
    {% csrf_token %}
    <table>
    {% for field in form %}
        

            <tr>
                <td>{{field.label}}</td>
                <td>{{field}}</td>
            </tr>
        
    {% endfor %}
    </table>
    <input type="submit" class="btn btn-success" value="Submit">
    </form>
    {% endblock body %}
</body>
</html>
